.video-element {
  height: 600px;
  width: 100%;
}

.video-container-career {
}

.about-profile-image {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .about-profile-image {
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
}
